* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: auto;
    margin: auto;
}


nav {
    background-color: #282828;
    color: whitesmoke;
    width: 100%;
    height: auto;
    padding: 0.3125rem;
}

nav {
    padding: 5px;
}

nav img {
    width: 70%;

}

nav ul {
    padding: 25px;
    list-style: none;
    display: flex;
}

nav ul li:nth-of-type(2) {
    margin-left: 110px;

}

.logo {
    font-size: 48px;
    font-weight: 700;
}

/* section-1 */
section:nth-of-type(1) {
    padding: 100px 0px 100px 0px;
    font-size: 30px;
    color: #282828;
    text-align: center;
    width: auto;
    height: auto;
}

/* section-2 */

section:nth-of-type(2) {
    width: auto;
    height: auto;
    position: relative;
}

section:nth-of-type(2) img {
    width: 100%;
    height: 100%;
}

section:nth-of-type(2) div {
    padding: 5px;
    font-size: 50px;

}

.caption {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section:nth-of-type(2) div button {
    padding: 30px 80px;
    background-color: rgb(192, 113, 113);
    color: white;
    margin-left: 20px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;

}

.exclusive {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 60px;
    background-color: rgb(235, 123, 32);
    color: white;
    padding: 15px;
}

/* section-3 */

section:nth-of-type(3) {
    width: auto;
    height: auto;
}

section:nth-of-type(3) img {
    width: 100%;
    height: 100%;
}

section:nth-of-type(3) div {
    padding: 5px;
    font-size: 50px;
}

section:nth-of-type(3) div button {
    padding: 30px 80px;
    background-color: rgb(35, 102, 32);
    color: white;
    margin-left: 20px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}


/* section-4 */
section:nth-of-type(4) img {
    width: 100%;
    height: 100%;
}

section:nth-of-type(4) div {
    padding: 5px;
    font-size: 50px;
}

section:nth-of-type(4) div button {
    padding: 30px 80px;
    background-color: rgb(87, 77, 19);
    color: white;
    margin-left: 20px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}

/* chat-box */

section:nth-of-type(5) div img {
    width: 150px;
    height: 150px;
    position: fixed;
    bottom: 0;
    right: 0;
}