* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 35%;
    height: auto;
    margin: auto;
}

header {
    background-color: #282828;
    color: whitesmoke;
}

nav {
    padding: 5px;
}

nav img {
    width: 65px;
    border-radius: 50%;

}

nav ul {
    padding: 25px;
    list-style: none;
    display: flex;
}

.logo {
    font-size: 18px;
    font-weight: 700;
}

section:nth-of-type(1) {
    padding: 100px 0px 100px 0px;
    font-size: 30px;
    color: #282828;
}

section:nth-of-type(2) {
    width: 100%;
}

section:nth-of-type(2) img {
    width: 100%;
}

section:nth-of-type(2) div {
    padding: 5px;
    font-size: 20px;
}